body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    margin: 0;
    color: darkslategrey;
}
.name-highlight{
    color: rgb(241, 108, 93);
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 8%;
    padding-left: 2%;
}
.button-link{
    background-image: linear-gradient( lightsalmon, tomato);
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}
.half-width img{
    width: 100%;
    height: auto;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
h2{
    font-size: 40px;
    color: darkslategrey;    
}
h4{
    font-size: 40px;
    text-align: center;
    color: darkslategrey;
}

 
